.itemCard{
    height: 300px;
    width: 300px;
    border: 1px solid rgb(165, 165, 154);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: #BBBAB7;
}
img{
    max-height: 200px;
    max-width: 250px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: black;

}
